<!DOCTYPE html>
<html>

{{!-- <head>
    <meta charset="utf-8">
    <title>About page</title>
</head> --}}
 {{> head}}

<style>
    .center {
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }
</style>

<body>
    <h1 style="text-align:center;">About me page(Matt)</h1>
    <h2 style="text-align:center;">I like sports and Anime UwU</h2>
    <p style="text-align:center;">Some details include that I am 18 years old, I am from Vancouver</p>
    <img src="thumbs up.jpg" alt="thumbs up pic" class="center">
</body>

{{> links}}

{{> footer}}

{{!-- <footer>
    <p>Copyright {{year}} </p>
</footer> --}}

</html>