<!DOCTYPE html>
<html>

{{!-- {{> head}} --}}

<body>
    <h1 style="text-align:center">Links Page</h1>
    <h1 style="text-align:center;">Click on one of the links above !</h1>
</body>

{{> links}}

{{> footer}}

</html>