
<!DOCTYPE html>
<html>
{{> header}}

<style>
    body {
        background-color: darkgrey
    }
</style>
<body>
    <h1 style="text-align: center">Node Final</h1>

<form method="POST" action="/weather">
    <div class="form-group">
        <label for="planet_input">Planet:</label>
        <input type="text" class="form-control" name='planet_input' id="country_input">

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p class="output" id="output"></p>
</form>