
<!DOCTYPE html>
<html>
{{> header}}

<style>
    body {
        background-color: darkgrey
    }
</style>
<body>
    <h1 style="text-align: center">Node Final</h1>
    <h1 style="text-align: center">Welcome to my Site</h1>